{% load static %}
<!DOCTYPE html>
<html lang="pt-Br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página</title>
</head>
<body>
    <h1>Itens</h1>
    <ul>
        {% for item in variavel %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <form action="#" method="post" >
        {% csrf_token %}
        {% for fields in form.visible_fields %}
        <label>{{fields.label}}</label>
        {{fields}}
        {%endfor%}
        <button class="btn btn-success" type="submit">Cadastrar</button>
    </form>
    <div>
        {% for x in users %}
            <strong>{{x.nome}}</strong>
            <strong>{{x.email}}</strong>
            <br>
        {% endfor %}
    </div>
</body>
</html>
